* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	color: aliceblue;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

nav {
	position: sticky;
	top: 0;
	z-index: 10;
	height: 60px;
	line-height: 60px;
	background-color: #064848;
	border-bottom: 2px solid gold;
}

.nav_logo {
	display: inline-block;
	padding: 0 30px 0 20px;
	height: 60px;
	line-height: 60px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	/* for test only */
	/* background-color: blue; */
}

.nav_logo a {
	text-decoration: none;
	color: white;
}

.nav_logo a:hover {
	color: gold;
}

.nav_menu {
	display: none;
}

.scroll-margin {
	scroll-margin-top: 60px;
}

.flags {
	position: absolute;
	top: 5px;
	right: 80px;
	display: inline-block;
}

.flag {
	width: 40px;
}

.burger-icon {
	position: absolute;
	top: 15px;
	right: 20px;
	display: inline-block;
	font-size: 30px;
	background: none;
	border: none;
	color: aliceblue;
}

/* hero grafika */
.header {
	position: relative;
	height: 540px;
	/* height: calc(100vh - 60px); */
	/* background-image: url(../img/cables-small.jpg); */
	background-image: url(../img/van2.jpeg);
	background-size: cover;
	background-position: 60%;
}

.hero-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.hero-text h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 40px;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 5px 5px 7px #000;
	width: 300px;
	/* for test only */
	/* background-color: aquamarine; */
}

.hero-text h1 span {
	color: gold;
}

/* sekcja - main */
.bg-light {
	padding: 20px 0 20px 0;
	width: 100%;
	background-color: #e7f6f6;
	color: #064848;
}

.bg-dark {
	padding: 20px 0 20px 0;
	width: 100%;
	background-color: #064848;
}

.bg-dark-contact {
	padding-bottom: 20px;
	width: 100%;
	background-color: #064848;
}

.section-title {
	padding: 0px 0 20px 0;
	text-transform: uppercase;
}

.section-title-offering {
	padding-top: 10px;
	text-transform: uppercase;
}

.section-title-contact {
	padding: 10px 0 10px 0;
	text-transform: uppercase;
}

.info {
	padding: 0 20px 0px 20px;
	text-align: justify;
	vertical-align: top;
	/* for test only */
	/* background-color: burlywood; */
}

p {
	padding-bottom: 10px;
}

.info-contact {
	padding: 0 20px 0px 20px;
	text-align: justify;
	vertical-align: top;
}

.info-list {
	padding: 0 20px 0 20px;
	font-weight: bold;
	text-align: justify;
}

.phone {
	text-decoration: none;
	color: gold;
	font-weight: bold;
}

.photos {
	margin: 10px 20px 0px 20px;
	background-image: url(../img/metal-small.jpg);
	background-size: cover;
	background-position: center;
	height: 400px;
	/* width: 90%; */
	border: 2px solid black;
	border-radius: 20px;
	box-shadow: 3px 3px 5px #000;
}

.metal {
	background-image: url(../img/metal-small.jpg);
}

.van2 {
	background-image: url(../img/van2.jpeg);
	background-position: 60% 0;
}

.van {
	background-image: url(../img/van.jpg);
}

.list {
	list-style-position: inside;
	padding: 10px 20px 10px 20px;
}

.list-contact {
	list-style-position: inside;
	list-style-type: none;
}

td {
	width: 140px;
}

footer {
	text-align: center;
	padding: 20px 30px;
	text-transform: uppercase;
	background-color: #61300d;
}

.fa-brands {
	text-decoration: none;
	color: white;
	font-size: 40px;
}

/* nawigacja powyżej 768px - to dal tableta 7 calowego*/

/* nawigacja powyżej 992px - to dal tableta 10 calowego*/

/* nawigacja powyżej 1200px - komputer, laptop*/

@media (min-width: 1200px) {
	.burger-icon {
		display: none;
	}

	.nav_menu {
		display: inline-block;
	}

	.nav_menu a {
		position: relative;
		left: 10vw;
		text-transform: uppercase;
		text-decoration: none;
		color: aliceblue;
		padding: 20px 30px;
		transition: background-color 1s;
		/* for test only */
		/* background-color: darkgreen; */
	}

	.nav_menu a:hover {
		background-color: goldenrod;
		color: darkgreen;
		font-weight: bold;
	}

	.flags {
		left: 80%;
	}

	.header {
		/* background-image: url(../img/cables-big.jpg); */
		height: calc(100vh - 60px);
	}

	.hero-text h1 {
		display: block;
		width: 600px;
		font-size: 60px;
		/* background-color: aqua; */
	}

	.bg-light,
	.bg-dark {
		height: calc(100vh - 60px);
	}

	.info {
		display: inline-block;
		width: 46%;
		padding-top: 20px;
		/* font-size: 18px; */
	}

	.photos {
		display: inline-block;
		width: 50%;
		/* height: 500px; */
		margin-top: 50px;
	}

	.metal {
		background-image: url(../img/metal-big.jpg);
	}

	.van {
		/* height: 600px; */
		height: calc(90vh - 60px);
		margin-top: 20px;
	}
}
